.LoginClass {
    position: fixed;
    top: 50%;
    left: 65%;
    height: 200px;
    margin: -100px 0 0 -25%;
    color: #ff9900;

}

.LoginUserName {
    color: black;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 50px;
    outline: none;
    padding: 0px 10px;
    width: 280px;
    -webkit-appearance: none;
}