body {

}
.Header {
    position:absolute;
    left:120px;
    top:35px;
    font-family:Calibri;
}

.Footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 60px;
    text-align: left;
}

.menuMaster {
    color: Green;
}

.menuMaster a.static.highlighted {
        color: Red !important;
}

.menuMaster a.static.selected {
        color: Red !important;
        border-top: Red 1px solid !important;
        border-left: Red 1px solid !important;
        border-right: Red 1px solid !important;
}

body {
    background-color: #dddddd;
}

