body {

}
.Header {
    top: 10px;
    left: 10px;
    height: 60px;
    text-align: center;
}

.Footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 60px;
    text-align: left;
}


